/* Base */
*,::after,::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 0;
}

:root{
	--base-px: 10px;
	--grid-gap: 2.5rem;
}

@font-face {
    font-family: 'FunnelSans';
    src: url('../fonts/funnelsans.woff2') format('woff2'),
         url('../fonts/funnelsans.woff') format('woff'),
         url('../fonts/funnelsans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.grid{
	display: flex;
	flex-flow: wrap;
	gap: var(--grid-gap);
	justify-content: space-between;
}

.row{
	display: grid;
	grid-template-columns: repeat(12, 2fr);
	grid-template-rows: auto;
	align-items: center;
	height: auto;
}

.container{
	width: 1300px;
	margin-inline: auto;
}

html{
	font-size: var(--base-px);
}

body{
	font-family: 'FunnelSans', sans-serif;
	font-size: 1.9rem;
	line-height: 3rem;
	background-color: #3C3C3B;
}

section{
	position: relative;
	padding: 3%;
}


/* Header */
header{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

img.logo{
	height: 30vh;
	width: 30vh;
}

header .container .text-subtitle{
	color: white;
	font-size: 3rem;
}

.scale-up-center {
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
	0% {
	  transform: scale(0.5);
	}
	100% {
	  transform: scale(1);
	}
  }
  

.button {
	position: relative;
	text-decoration: none;
	color: #fff;
	background: linear-gradient(45deg, #d35658, #c53033, #921113);
	padding: 1.5rem 3rem;
	border-radius: 10px;
	font-size: 1.25em;
	cursor: pointer;
  }
  
.button span {
	position: relative;
	z-index: 1;
  }
  
.button::before {
	content: "";
	position: absolute;
	inset: 1px;
	background: #272727;
	border-radius: 9px;
	transition: 0.5s;
  }
  
.button:hover::before {
	opacity: 0.7;
  }
  
.button::after {
	content: "";
	position: absolute;
	inset: 0px;
	background: linear-gradient(45deg, #d35658, #c53033, #921113);
	border-radius: 9px;
	transition: 0.5s;
	opacity: 0;
	filter: blur(20rem);
  }
  
.button:hover:after {
	opacity: 1;
}

header .container img.github-link {
    position: absolute;
    width: 50px;
    height: 50px;
	margin-left: 3rem;
	margin-top: 0.8rem;
	cursor: pointer;

}

/* Calculator */
.calculator{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
}

#exchange-icon {
	text-align: center;
    height: 3rem;
	filter: invert(100%);
}

.select-currency-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    text-align: center;
	gap: 2rem;
}

select {
    padding: 0.5rem;
    font-size: 1.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-top: 0.5rem;
}

input[type="number"] {
    padding: 0.5rem;
    font-size: 1.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-top: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    color: #fff;
    background-color: #d35658;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #921113;
}

#result {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
}

.calculator a img.github-link {
    width: 50px;
    height: 50px;
	cursor: pointer;

}

strong{
	font-weight: 800;
	color: #d35658;
}

#last-update{
	font-size: 1.5rem;
}

/* Copyrights */
.copyright{
	color: white;
	text-align: center;
}

@media screen and (max-width: 1024px) {
  .container{
	width: 950px;
  }
  button {
    padding: 0.5rem 0.8rem;
    font-size: 1.3rem;
    margin-top: 1rem;
}
select {
    font-size: 1.3rem;
    width: 150px;
}

input[type="number"] {
    font-size: 1.3rem;
    width: 150px;
}
#exchange-icon {
    height: 2rem;
}
}

@media screen and (max-width: 768px) {
  .container{
	width: 550px;
  }
}